/* Reseteo de estilos */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

#lyrics {
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  position: absolute;
  margin-bottom: 20%;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 4px;
}

@media only screen and (max-width: 600px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 600px */
  #lyrics {
      font-size: 14px;
      margin-bottom: 530px;
      letter-spacing: 3px;
  }
}

.titulo {
  margin-bottom: 180px;
  font-family: "Arial Narrow", Arial, sans-serif;
  color: yellow;
  position: absolute;
  font-weight: bold;
  letter-spacing: 10px;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.night {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: radial-gradient(
      ellipse at top,
      transparent 0%,
      var(--dark-color)
    ),
    radial-gradient(
      ellipse at bottom,
      var(--dark-color),
      rgba(145, 233, 255, 0.2)
    ),
    repeating-linear-gradient(
      220deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      189deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      148deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    linear-gradient(90deg, rgb(0, 255, 250), rgb(240, 240, 240));
}

.fireworks {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.firework {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  animation: shoot 1s ease-out infinite;
}

.firework--1 {
  left: 20%;
  animation-delay: 0s;
}

.firework--2 {
  left: 50%;
  animation-delay: 0.5s;
}

.firework--3 {
  left: 80%;
  animation-delay: 1s;
}

@keyframes shoot {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) scale(0);
    opacity: 0;
  }
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* Agregar estilos adicionales según sea necesario */
